<div class="search">
  <%= image_tag 'marvel_logo.png' %>
  <input type="text"/ value="<%= @character %>">
</div>

<div class="comics">
  <% @search.comics.each do |comic| %>
    <div class="comic<%= session[:favourites]&.include?( comic.id.to_s) ? ' favourite' : '' %>">
      <%= image_tag comic.image_url %>
      <%= link_to '', comic_fav_path(comic.id), class: "fav#{session[:favourites]&.dig(comic.id.to_s) ? ' favourite' : ''}" %>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to 'Previous Page', comics_path(page: @search.previous_page, character: @character), class: "previous #{@search.previous_page.present? ? '' : 'disabled'}" %>
    <%= link_to 'Next Page', comics_path(page: @search.next_page, character: @character), class: "next #{@search.next_page.present? ? '' : 'disabled'}"%>
  </div>
</div>
